#slider-71 .wd-slide {
	min-height: 900px;
}

@media (max-width: 1024px) {
	#slider-71 .wd-slide {
		min-height: 490px;
	}
}

@media (max-width: 768px) {
	#slider-71 .wd-slide {
		min-height: 730px;
	}
}
