@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//everydayhairsalon.com/wp-content/themes/woodmart/fonts/woodmart-font-1-400.woff2?v=7.2.4") format("woff2");
}

.wd-popup.wd-promo-popup{
	background-color:#111111;
	background-image: url(https://everydayhairsalon.com/wp-content/uploads/2021/08/promo-popup-1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

.page-title-default{
	background-color:#0a0a0a;
	background-image: url(https://everydayhairsalon.com/wp-content/uploads/2023/07/title-banner.jpg);
	background-size:cover;
	background-position:center center;
}

.footer-container{
	background-color:rgb(26,26,26);
	background-image: none;
}

:root{
--wd-text-font:"Maven Pro", Arial, Helvetica, sans-serif;
--wd-text-font-weight:400;
--wd-text-color:rgb(132,125,104);
--wd-text-font-size:16px;
}
:root{
--wd-title-font:"Josefin Sans", Arial, Helvetica, sans-serif;
--wd-title-font-weight:400;
--wd-title-transform:none;
--wd-title-color:rgb(171,149,116);
}
:root{
--wd-entities-title-font:"Maven Pro", Arial, Helvetica, sans-serif;
--wd-entities-title-font-weight:400;
--wd-entities-title-color:rgb(132,125,104);
--wd-entities-title-color-hover:rgb(51 51 51 / 65%);
}
:root{
--wd-alternative-font:"Maven Pro", Arial, Helvetica, sans-serif;
}
:root{
--wd-widget-title-font:"Libre Baskerville", Arial, Helvetica, sans-serif;
--wd-widget-title-font-weight:400;
--wd-widget-title-transform:uppercase;
--wd-widget-title-color:rgb(209,156,87);
--wd-widget-title-font-size:20px;
}
:root{
--wd-header-el-font:"Josefin Sans", Arial, Helvetica, sans-serif;
--wd-header-el-font-weight:600;
--wd-header-el-transform:capitalize;
--wd-header-el-font-size:16px;
}
:root{
--wd-primary-color:rgb(203,149,0);
}
:root{
--wd-alternative-color:rgb(209,156,88);
}
:root{
--wd-link-color:rgb(171,149,116);
--wd-link-color-hover:rgb(132,125,104);
}
.page .main-page-wrapper{
	background-color:rgb(0,0,0);
	background-image: none;
}

.woodmart-archive-shop .main-page-wrapper{
	background-color:rgb(0,0,0);
	background-image: none;
}

.single-product .main-page-wrapper{
	background-color:rgb(0,0,0);
	background-image: none;
}

.woodmart-archive-blog .main-page-wrapper{
	background-color:rgb(0,0,0);
	background-image: none;
}

.single-post .main-page-wrapper{
	background-color:rgb(0,0,0);
	background-image: none;
}

.woodmart-archive-portfolio .main-page-wrapper{
	background-color:rgb(0,0,0);
	background-image: none;
}

.single-portfolio .main-page-wrapper{
	background-color:rgb(0,0,0);
	background-image: none;
}

:root{
--btn-default-font-family:"Maven Pro", Arial, Helvetica, sans-serif;
--btn-default-font-weight:400;
--btn-default-transform:none;
}
:root{
--btn-default-bgcolor:rgb(171,149,116);
}
:root{
--btn-default-bgcolor-hover:rgb(84,70,51);
}
:root{
--btn-accented-font-family:"Maven Pro", Arial, Helvetica, sans-serif;
--btn-accented-font-weight:400;
--btn-accented-transform:none;
}
:root{
--btn-accented-bgcolor:rgb(171,149,116);
}
:root{
--btn-accented-bgcolor-hover:rgb(84,70,51);
}
:root{
--notices-success-bg:#459647;
}
:root{
--notices-success-color:#fff;
}
:root{
--notices-warning-bg:#E0B252;
}
:root{
--notices-warning-color:#fff;
}
	:root{
									--wd-form-brd-radius: 35px;
			
			
					
					--wd-form-brd-width: 2px;
		
					--btn-default-color: #fff;
		
					--btn-default-color-hover: #fff;
		
					--btn-accented-color: #fff;
		
					--btn-accented-color-hover: #fff;
		
					
			
							--btn-default-brd-radius: 35px;
				--btn-default-box-shadow: none;
				--btn-default-box-shadow-hover: none;
			
					
					
			
							--btn-accented-brd-radius: 35px;
				--btn-accented-box-shadow: none;
				--btn-accented-box-shadow-hover: none;
			
					
							
					--wd-brd-radius: 0px;
			}

	
	
			@media (min-width: 1025px) {
			.whb-boxed:not(.whb-sticked):not(.whb-full-width) .whb-main-header {
				max-width: 1192px;
			}
		}

		.container {
			max-width: 1222px;
		}

		:root{
			--wd-container-w: 1222px;
		}
	
			@media (min-width: 1239px) {
			.platform-Windows .wd-section-stretch > .elementor-container {
				margin-left: auto;
				margin-right: auto;
			}
		}
		@media (min-width: 1222px) {
			html:not(.platform-Windows) .wd-section-stretch > .elementor-container {
				margin-left: auto;
				margin-right: auto;
			}
		}
	
			div.wd-popup.popup-quick-view {
			max-width: 920px;
		}
	
	
	
	
			.woodmart-woocommerce-layered-nav .wd-scroll-content {
			max-height: 223px;
		}
	
	
