@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//projectfocal.sg/wp-content/themes/woodmart/fonts/woodmart-font-1-400.woff2?v=7.4.3") format("woff2");
}

:root {
	--wd-header-banner-h: 40px;
	--wd-text-font: "Lato", Arial, Helvetica, sans-serif;
	--wd-text-font-weight: 400;
	--wd-text-color: #777777;
	--wd-text-font-size: 14px;
	--wd-title-font: "Poppins", Arial, Helvetica, sans-serif;
	--wd-title-font-weight: 600;
	--wd-title-color: #242424;
	--wd-entities-title-font: "Poppins", Arial, Helvetica, sans-serif;
	--wd-entities-title-font-weight: 500;
	--wd-entities-title-color: #333333;
	--wd-entities-title-color-hover: rgb(51 51 51 / 65%);
	--wd-alternative-font: "Lato", Arial, Helvetica, sans-serif;
	--wd-widget-title-font: "Poppins", Arial, Helvetica, sans-serif;
	--wd-widget-title-font-weight: 600;
	--wd-widget-title-transform: uppercase;
	--wd-widget-title-color: #333;
	--wd-widget-title-font-size: 16px;
	--wd-header-el-font: "Lato", Arial, Helvetica, sans-serif;
	--wd-header-el-font-weight: 700;
	--wd-header-el-transform: uppercase;
	--wd-header-el-font-size: 13px;
	--wd-primary-color: rgb(218,165,32);
	--wd-alternative-color: rgb(255,153,0);
	--wd-link-color: rgb(0,0,0);
	--wd-link-color-hover: rgb(0,0,0);
	--btn-default-bgcolor: rgb(218,165,32);
	--btn-default-bgcolor-hover: rgb(255,153,0);
	--btn-accented-bgcolor: rgb(218,165,32);
	--btn-accented-bgcolor-hover: rgb(255,153,0);
	--wd-form-brd-width: 2px;
	--notices-success-bg: #459647;
	--notices-success-color: #fff;
	--notices-warning-bg: rgb(255,153,0);
	--notices-warning-color: #fff;
}
.woodmart-woocommerce-layered-nav .wd-scroll-content {
	max-height: 223px;
}
div.wd-popup.wd-age-verify {
	max-width: 500px;
}
.wd-popup.wd-promo-popup {
	background-color: #111111;
	background-image: url(http://13.229.14.189/~projectfocal/wp-content/uploads/2021/08/promo-popup-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
div.wd-popup.wd-promo-popup {
	max-width: 800px;
}
.page-title-default {
	background-color: rgb(0,0,0);
	background-image: url(https://projectfocal.sg/wp-content/uploads/2024/02/retail-shop-bg-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.footer-container {
	background-color: rgb(0,0,0);
	background-image: none;
}
html .product-image-summary-wrap .product_title, html .wd-single-title .product_title {
	font-weight: 600;
}
body[class*="wrapper-boxed"] {
	background-color: rgb(0,0,0);
	background-image: none;
}
.page .main-page-wrapper {
	background-color: rgb(0,0,0);
	background-image: none;
}
.woodmart-archive-shop:not(.single-product) .main-page-wrapper {
	background-color: rgb(0,0,0);
	background-image: none;
}
.single-product .main-page-wrapper {
	background-color: rgb(0,0,0);
	background-image: none;
}
.woodmart-archive-blog .main-page-wrapper {
	background-color: rgb(0,0,0);
	background-image: none;
}
.single-post .main-page-wrapper {
	background-color: rgb(0,0,0);
	background-image: none;
}
.woodmart-archive-portfolio .main-page-wrapper {
	background-color: rgb(0,0,0);
	background-image: none;
}
.single-portfolio .main-page-wrapper {
	background-color: rgb(0,0,0);
	background-image: none;
}
div.wd-popup.popup-quick-view {
	max-width: 920px;
}

@media (max-width: 1024px) {
	:root {
		--wd-header-banner-h: 40px;
	}

}
:root{
--wd-container-w: 1222px;
--wd-form-brd-radius: 0px;
--btn-default-color: #333;
--btn-default-color-hover: #333;
--btn-accented-color: #333;
--btn-accented-color-hover: #333;
--btn-default-bottom-active: -1px;
--btn-default-brd-radius: 0px;
--btn-default-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
--btn-default-box-shadow-hover: inset 0 -2px 0 rgba(0, 0, 0, .15);
--btn-accented-bottom-active: -1px;
--btn-accented-brd-radius: 0px;
--btn-accented-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
--btn-accented-box-shadow-hover: inset 0 -2px 0 rgba(0, 0, 0, .15);
--wd-brd-radius: 0px;
}

@media (min-width: 1239px) {
.platform-Windows .wd-section-stretch > .elementor-container {
margin-left: auto;
margin-right: auto;
}
}

@media (min-width: 1222px) {
html:not(.platform-Windows) .wd-section-stretch > .elementor-container {
margin-left: auto;
margin-right: auto;
}
}


