#slider-70 .wd-slide {
	min-height: 900px;
}

@media (max-width: 1024px) {
	#slider-70 .wd-slide {
		min-height: 490px;
	}
}

@media (max-width: 767px) {
	#slider-70 .wd-slide {
		min-height: 450px;
	}
}
