:root{
	--wd-top-bar-h: 0.001px;
	--wd-top-bar-sm-h: 0.001px;
	--wd-top-bar-sticky-h: 0.001px;

	--wd-header-general-h: 105px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: 95px;

	--wd-header-bottom-h: 52px;
	--wd-header-bottom-sm-h: 0.001px;
	--wd-header-bottom-sticky-h: 52px;

	--wd-header-clone-h: 0.001px;
}


.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 27.5px;
}

.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu):after {
	height: 37.5px;
}

.whb-header-bottom .wd-dropdown {
	margin-top: 6px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 16px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 6px;
}

.whb-sticked .whb-header-bottom .wd-dropdown:not(.sub-sub-menu):after {
	height: 16px;
}

.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -1px;
	height: calc(100% + 1px);
}


@media (min-width: 1025px) {
	
		.whb-general-header-inner {
		height: 105px;
		max-height: 105px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 95px;
		max-height: 95px;
	}
		
		.whb-header-bottom-inner {
		height: 52px;
		max-height: 52px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 52px;
		max-height: 52px;
	}
		
	
			.wd-header-overlap .title-size-small {
		padding-top: 178px;
	}

	.wd-header-overlap .title-size-default {
		padding-top: 218px;
	}

	.wd-header-overlap .title-size-large {
		padding-top: 258px;
	}

		.wd-header-overlap .without-title.title-size-small {
		padding-top: 158px;
	}

	.wd-header-overlap .without-title.title-size-default {
		padding-top: 193px;
	}

	.wd-header-overlap .without-title.title-size-large {
		padding-top: 218px;
	}

		.single-product .whb-overcontent:not(.whb-custom-header) {
		padding-top: 158px;
	}
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
	
			.wd-header-overlap .page-title {
		padding-top: 76px;
	}

		.wd-header-overlap .without-title.title-shop {
		padding-top: 61px;
	}

		.single-product .whb-overcontent:not(.whb-custom-header) {
		padding-top: 61px;
	}
	}
		
.whb-top-bar {
	background-color: rgba(0, 0, 0, 1);
}

.whb-9x1ytaxq7aphtb3npidp .searchform {
	--wd-form-height: 46px;
}
.whb-general-header {
	background-color: rgba(0, 0, 0, 1);border-bottom-width: 0px;border-bottom-style: solid;
}

.whb-header-bottom {
	border-color: rgba(232, 232, 232, 1);border-bottom-width: 1px;border-bottom-style: solid;
}
