:root{
	--wd-top-bar-h: 0.001px;
	--wd-top-bar-sm-h: 0.001px;
	--wd-top-bar-sticky-h: 0.001px;

	--wd-header-general-h: 105px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: 0.001px;

	--wd-header-bottom-h: 52px;
	--wd-header-bottom-sm-h: 0.001px;
	--wd-header-bottom-sticky-h: 0.001px;

	--wd-header-clone-h: 105px;
}



.whb-header-bottom .wd-dropdown {
	margin-top: 6px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 16px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -1px;
	margin-bottom: -1px;
	height: calc(100% + 2px);
}

.whb-clone.whb-sticked .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 32.5px;
}

.whb-clone.whb-sticked .wd-dropdown:not(.sub-sub-menu):after {
	height: 42.5px;
}

@media (min-width: 1025px) {
	
		.whb-general-header-inner {
		height: 105px;
		max-height: 105px;
	}

		
		.whb-header-bottom-inner {
		height: 52px;
		max-height: 52px;
	}

		
			.whb-clone .whb-general-header-inner {
		height: 105px;
		max-height: 105px;
	}
	
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
			.whb-clone .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	}
		
.whb-top-bar {
	background-color: rgba(131, 183, 53, 1);
}

.whb-general-header {
	background-color: rgba(0, 0, 0, 1);border-color: rgba(251, 251, 251, 1);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-header-bottom {
	border-color: rgba(232, 232, 232, 1);border-bottom-width: 1px;border-bottom-style: solid;
}
